@import './../sass/dashboard.scss';

main > ul > p {
     color: #fff;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(white,0.1);
    position: relative;
    top: 35%;
    color: white;
    width: 600px;
    height: 300px;
}

main {
    font-size: 18px;
    font-weight:800;
    padding: 0;
    margin: 0;
}
